.container-store{
  display: flex;
}
.card{
  border:3px solid #000;
  margin: 0 auto;
  width: 20%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  font-size: 17px;
}
.card .card-head img{
  width: 100%;
  height: 25vh;

}
body{
  height: 200vh;
}